.page.about {
    .about-content {
        width: 33%;
        margin: 0 auto;
        h1 {
            text-align: center;
            margin-bottom: 50px;
        }
        p {
            font-weight: 300;
            margin: 0;
            text-align: justify;
            padding-bottom: 10px;
            text-align-last: left;
            text-justify: inter-word;
        }
    }
}